<h2>Create recipe</h2>

<form action="/recipes/create/" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-row">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <hr>
    <h3>Ingredients</h3>

    <div id="ingredients">
        <div class="form-row ingredient-row">
            <input type="text" name="ingredient_name[]" placeholder="Name">
            <input type="text" name="ingredient_amount[]" placeholder="Amount">
            <button type="button" onclick="addIngredient()">+</button>
        </div>
    </div>
    <div class="form-row">
        <button type="submit">Save</button>
    </div>
</form>

<script>
function addIngredient() {
    const container = document.getElementById('ingredients');

    const row = document.createElement('div');
    row.className = 'form-row ingredient-row';

    row.innerHTML = `
        <input type="text" name="ingredient_name[]" placeholder="Name">
        <input type="text" name="ingredient_amount[]" placeholder="Amount">
        <button type="button" onclick="this.parentElement.remove()">-</button>
    `;

    container.appendChild(row);
}
</script>