<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
<div class="container">
    <h1>Recipes List</h1>

    <form action="/recipes/" method="get">
        <input type="text" name="name" placeholder="Search recipe">
        <button type="submit">Search</button>
    </form>
    <br>

    {% if recipes %}
        {% for recipe in recipes %}
            <ul class="recipe-card">
                <li> {{ recipe.title }} (cooking time:{{ recipe.cooking_time }} minutes,
                    author: {{ recipe.author.username }})
                    - rating: {{ recipe.avg_rating|floatformat:2|default:"No ratings yet" }} <a
                            href="{% url 'recipe_detail' recipe.id %}">Details</a></li>
            </ul>
        {% endfor %}
    {% else %}
        <div class="empty-message">
            No recipes available yet.
        </div>
    {% endif %}
</div>
<br>
{% if user.is_authenticated %}

    <form action="/recipes/create/" method="post">
        {% csrf_token %}
        <button type="submit">Create recipe</button>
    </form><br>

    <button type="button" onclick="window.location.href='/user/{{ user.id }}'">
        User Profile
    </button><br><br>

    <form action="/logout/" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}

    <p>If you want to create recipes:</p>
    <button type="button" onclick="window.location.href='/login/'">
        Log in
    </button>

{% endif %}
</body>
</html>
